* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main {
	height: 100vh;
	background: url(img/bg.jpg);
	background-size: 100% 100%;
}

.main .grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 25vh 25vh 25vh 25vh;
}

.main .grid>div {
	border: 1px solid grey;
	position: relative;
}

.main .grid>div .plus {
	color: white;
	position: absolute;
	left: -5px;
	top: -10px;
}

.main .grid>div:nth-child(2) {
	grid-row: 1/4;
	grid-column: 2/3;
	background: red;
}

.main .grid>div:nth-child(1) .logo {
	font-size: 34px;
	color: white;
	text-transform: uppercase;
	font-family: 'Nuosu SIL', serif;
	text-align: center;

}

.main .grid>div:nth-child(1) .logo p {
	font-size: 12px;
	text-transform: lowercase;
	font-family: 'Nuosu SIL', serif;
}

.main .grid>div:nth-child(1) {

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.main .grid>div:nth-child(6) {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: red;
}

.main .grid>div:nth-child(5) {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main .grid .title {
	font-size: 90px;
	color: white;
	text-transform: uppercase;
	position: absolute;
	bottom: 21px;
	left: -155px;
	font-family: 'Nuosu SIL', serif;

}

.main .grid div:nth-child(17) {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid white;
}

.main .grid div:nth-child(17)::after {
	content: "";
	width: 100%;
	height: 100%;
	background-color: #aa828245;
	position: absolute;
	left: 0;

}

.main .grid div:nth-child(17) .main__cloud {
	position: absolute;
	z-index: 2;
	/* color:white; */
	margin: auto;
	top: 0;
	bottom: 0;
	text-align: center;
	font-size: 20px;
	height: 50px;


}

.main .grid div:nth-child(18) {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid white;
}

.main .grid div:nth-child(18)::after {
	content: "";
	width: 100%;
	height: 100%;
	background-color: #aa828245;
	position: absolute;
}

.main .grid div:nth-child(18) .main__security {
	font-size: 20px;
	text-align: center;
	z-index: 2;

}

.main .grid div:nth-child(19) {
	display: flex;
	justify-content: center;
	align-items: center;

}

.main .grid div:nth-child(19)::after {
	content: "";
	width: 100%;
	height: 100%;
	background-color: #aa828245;
	position: absolute;
}

.main .grid div:nth-child(19) .main__list {
	font-size: 20px;
	text-align: center;
	z-index: 2;

}

.main .grid div:nth-child(22) {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main .grid div:nth-child(22) .main__number-one {
	font-size: 200px;
	color: white;


}

/* section_2 */
.about {
	height: 100vh;
	background: url(img/bgr.jpg);
	background-size: 100% 100%;
}

.about .grid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(4, 25vh);
}

.about .grid>div {
	border: 1px solid gray;
	position: relative;

}

.about .grid>div span {
	color: white;
	position: absolute;
	left: -5px;
	top: -10px;

}

.about .grid>div:nth-child(1) {
	display: flex;
	justify-content: center;
	align-items: center;

}

.about .grid>div:nth-child(1) .about__logo {
	font-size: 34px;
	color: white;
	text-transform: uppercase;
	font-family: 'Nuosu SIL',
		serif;
	text-align: center;
	top: 45%;
	right: 0;
}

.about .grid>div:nth-child(1) .about__logo p {
	font-size: 12px;
	text-transform: lowercase;
	font-family: 'Nuosu SIL', serif;
}

.about .grid>div:nth-child(5) .about__phon {
	position: absolute;
	top: 50%;
	text-align: center;
	right: 0;
	left: 0;
	color: #d93535d4;
	font-family: 'Nuosu SIL', serif;
}

.about .grid>div:nth-child(6) .about__menu {
	position: absolute;
	top: 50%;
	text-align: center;
	right: 0;
	left: 0;
	color: #1b1919;
	font-family: 'Nuosu SIL', serif;

}

.about .grid>div:nth-child(6) {
	background-color: red;
}

.about .grid>div:nth-child(8) {
	grid-row: 2/4;
	grid-column: 2/6;
	display: flex;
	align-items: center;
	padding: 0 30px 0 25%;
	background-color: red;
}

.about .grid div .about__our__team {
	font-family: 'Nuosu SIL', serif;
	font-size: 60px;
	text-transform: uppercase;
	color: white;
	position: absolute;
	left: -134px;
}

.about .grid div .about__number--one {
	font-family: 'Nuosu SIL', serif;
	font-size: 200px;

	text-transform: uppercase;
	color: white;
	position: absolute;
	left: -111px;
	bottom: -122px;
}

.about__btn {
	display: flex;
	justify-content: space-between;
	position: absolute;
	left: 100px;
	bottom: 5px;
	width: 50px;
}

.about__btn a {
	font-size: 30px;
	color: rgb(157 157 177 / 44%);

}


.about .grid div .about__us {
	font-size: medium;
}

/* section_3 */
.icons {
	height: 100vh;
	background: url(img/dubaicloud.jpg);
	background-size: 100% 100%;
}

.icons .grid {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(4, 25vh);
}

.icons .grid>div {
	border: 1px solid gray;
	position: relative;

}

.icons .grid>div span {
	color: white;
	position: absolute;
	left: -5px;
	top: -10px;

}

.icons .grid>div:nth-child(1) {
	display: flex;
	justify-content: center;
	align-items: center;

}

.icons .grid>div:nth-child(1) .icons__logo {
	font-size: 34px;
	color: white;
	text-transform: uppercase;
	font-family: 'Nuosu SIL',
		serif;
	text-align: center;
	top: 45%;
	right: 0;
	z-index: 2;
}

.icons .grid>div:nth-child(1) .icons__logo p {
	font-size: 12px;
	text-transform: lowercase;
	font-family: 'Nuosu SIL', serif;
}

.icons .grid>div:nth-child(1)::after {
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgb(33 62 65 / 27%);
}

.icons .grid>div:nth-child(5) .icons__phon {
	position: absolute;
	top: 50%;
	text-align: center;
	right: 0;
	left: 0;
	color: rgb(122 12 43);
	font-family: 'Nuosu SIL', serif;
	z-index: 2;
}

.icons .grid>div:nth-child(5)::after {
	content: "";
	width: 100%;
	height: 100%;
	background-color: rgb(33 62 65 / 27%);
	position: absolute;
}

.icons .grid>div:nth-child(6) .icons__menu {
	position: absolute;
	top: 50%;
	text-align: center;
	right: 0;
	left: 0;
	color: #1b1919;
	font-family: 'Nuosu SIL', serif;

}

.icons .grid>div:nth-child(6) {
	background-color: red;
}